* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#screen {
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid black; */
}

#screen-adjust {
    /* height: 100vh; */
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left-body {
    /* height: 100vh; */
    width: 20%;
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    left: 10%;
}

#middle-body {
    /* height: 100vh; */
    width: 44%;
    border: 1px solid #eff3f4;
    position: absolute;
    left: 26%;
}

#right-body {
    /* height: 100vh; */
    width: 20%;
    /* border: 1px solid #eff3f4; */
    position: fixed;
    right: 13%;
}

#logo {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.fa-twitter {
    font-size: 1.8em;
    color: #1d9bf0;
}

.list-nav {
    height: 6vh;
    width: fit-content;
    flex-wrap: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 2%;
    gap: 30px;
}

.list-nav>i {
    font-size: 1.2em;
}

.list-nav>span {
    font-size: 1.5em;
}

.list-nav>span>a {
    text-decoration: none;
    color: black;
}

.list-nav:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

#tweet-btn {
    height: 6vh;
    width: 80%;
    border: 1px solid #1d9bf0;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: #1d9bf0;
    color: white;
    font-weight: 600;
}

#user {
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-pic {
    height: 8vh;
    width: 20%;
    border-radius: 30px;
    /* border: 1px solid black; */
    margin-left: 1%;
    overflow: hidden;
}

.user-pic>img {
    height: 100%;
    width: 100%;
}

#user-d {
    height: 10vh;
    width: 65%;
    /* border: 1px solid black; */
    flex-direction: column;
}

#user-d>p:nth-child(1) {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 1.5em;
}

#user-d>p:nth-child(2) {
    margin-left: 2%;
    opacity: 0.8;
}

#ellip {
    height: 10vh;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#stickthem {
    width: 100%;
    border: 1px solid #eff3f4;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
    /* border: 1px solid black; */
}

#search-div {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

#arrow-left {
    height: 8vh;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner-search-division {
    height: 8vh;
    width: 70%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}

#actual-search {
    height: 5vh;
    width: 95%;
    /* border: 1px solid black; */
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #eff3f4;
}

#actual-search>i {
    position: absolute;
    left: 2%;
    top: 25%;
    font-size: 1.2em;
}

#actual-search>input {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 90%;
    font-size: 1.1em;
    border: none;
    outline: none;
    background-color: #eff3f4;
}

#setting-log-div {
    height: 8vh;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pinned {
    height: 5vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.pinned>p {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 2%;
}

.pinned-list-area {
    height: 15vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    text-align: center;
}

.pinned-list-area>p {
    margin: auto;
}

#follow-suggestion-parent {
    /* height: 60vh; */
    width: 100%;
    border: 1px solid #f0f0f0;
}

#head-of-follow-suggestion {
    height: 5vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
}

#head-of-follow-suggestion>p {
    margin-left: 2%;
}

.page-followed-suggestion {
    /* height: 15vh; */
    width: 100%;
    border: 1px solid #f0f0f0;
    margin-top: 2%;
}

.page-followed-suggestion:hover {
    background-color: #f0f0f0;
}

.suggested-page-photo-n-name {
    /* height: 10vh; */
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.suggested-page-photo-n-name>div:nth-child(1) {
    height: 6vh;
    width: 15%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-to-place-img {
    height: 100%;
    width: 62%;
    /* border:1px solid black; */
    border-radius: 10px;
    overflow: hidden;

}

.withRound {
    width: 62%;
    border-radius: 50%;
}

.div-to-place-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name-n-follow-btn {
    /* height:6vh; */
    width: 82%;
    /* border:1px solid black; */
    display: flex;
}

.name-n-follow-btn>div:nth-child(1) {
    height: 6vh;
    width: 72%;
    /* border: 1px solid black; */
}

.name-n-follow-btn>div:nth-child(1)>div {
    /* border: 1px solid black; */
}

.name-n-follow-btn>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    overflow-x: hidden;
}
.name-n-follow-btn>div:nth-child(1)>div:nth-child(2)>p{
    white-space: nowrap;
    width: 40%;
}

.parent-mini-circle {
    position: relative;
    height: 3vh;
    width: 12%;
    /* border: 1px solid black; */
}

.mini-circle-first {
    height: 90%;
    width: 45%;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.mini-circle-first>span {
    height: 90%;
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.mini-circle-second {
    height: 90%;
    width: 45%;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    left: 20%;
    z-index: 1;
}

.mini-circle-second>span {
    height: 90%;
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.mini-circle-third {
    height: 90%;
    width: 45%;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    left: 40%;
    z-index: 0;
}

.mini-circle-third>span {
    height: 90%;
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.parent-mini-circle>span>span>img {
    height: 100%;
    width: 100%;
}

.name-n-follow-btn>div:nth-child(1)>p:nth-child(1) {
    font-size: 1.2em;
}

.suggested-follow-btn {
    height: 6vh;
    width: 30%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.suggested-follow-btn>button {
    height: 5vh;
    width: 60%;
    border-radius: 20px;
    border-width: 1px;
    font-size: 1.2em;
    background-color: black;
    color: white;
}

.small-my-image {
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */
}

.remove-decoration {
    text-decoration: none;
    color: #1d9bf0;
}
#follow-suggestion-parent>p:last-child{
margin: 2%;
color: #1d9bf0;
}

#search {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}

#inner-search {
    height: 6vh;
    width: 95%;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #eff3f4;
}

#inner-search>i {
    font-size: 1.2em;
    position: absolute;
    left: 15px;
    top: 12px;
}

#inner-search>input {
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #eff3f4;
}

#happening {
    /* height:50vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#happening>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;

}

.trending-divs {
    /* height:10vh; */
    width: 95%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.trending-divs>div:nth-child(1) {
    height: fit-content;
    width: 90%;
    /* border: 1px solid black; */
}

.trending-divs>div:nth-child(1)>p:nth-child(2) {
    font-weight: 600;
}

.trending-divs>div:nth-child(2) {
    height: fit-content;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#happening>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}
#follow-Whom {
    /* height: 40vh; */
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#follow-Whom>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;
}

.follow-new-page-div {
    /* height: 10vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    margin-bottom: 2%;

}

.new-page-img {
    height: 7vh;
    width: 16%;
    /* border: 1px solid black; */
    border-radius: 50px;
    overflow: hidden;
    margin-top: 1%;
}

.new-page-img>img {
    height: 100%;
    width: 100%;
}

.page-title {
    height: 8vh;
    width: 55%;
    /* border: 1px solid black; */
}

.page-title>p:nth-child(1)>span {
    font-size: 1em;
    font-weight: 600;
}

.page-title>p:nth-child(1)>i {
    color: #1d9bf0;
}

.page-title>p:nth-child(2) {
    opacity: 0.8;
}

.page-follow-btn {
    height: 8vh;
    width: 28%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-follow-btn>button {
    height: 5vh;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

#follow-Whom>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}

#right-body>div:last-child {
    width: 95%;
    /* border:1px solid black; */
    margin: auto;
    margin-bottom: 2%;
    opacity: 0.9;
    font-size: 0.9em;
    text-align: center;
}