* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#screen {
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
}

#filter-box {
    /* height: 70vh; */
    width: 40%;
    border: 1px solid #eff3f4;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    left: 35%;
    background-color: white;
    z-index: 3;
    display: none;
}

#cross {
    position: absolute;
    top: 2%;
    left: 1.5%;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}

#align-div-filter-box {
    /* height:65vh; */
    width: 90%;
    /* border:1px solid black; */
    margin: auto;
    /* margin-top: 2%; */
}

#filter-box-logo {
    height: 5vh;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#WRY {
    height: 15vh;
    margin-top: 2%;
    width: 60%;
    margin: auto;
    /* border:1px solid black; */
    text-align: center;
}

#WRY>p:nth-child(1) {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15%;
    margin-bottom: 2%;
}

#choice-account {
    height: 25vh;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#for-individual {
    height: 20vh;
    width: 45%;
    border: 1px solid #1d9bf0;
    border-radius: 10px;
}

#for-individual>:first-child {
    margin-top: 20%;
}

#for-individual>p:nth-child(2) {
    font-size: 1.2em;
    font-weight: 600;
}

#for-individual>p {
    margin: 3% 15%;
    white-space: nowrap;
}

#for-organization {
    height: 20vh;
    width: 45%;
    border: 1px solid #eff3f4;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #888888;
}

#for-organization>:first-child {
    margin-top: 15%;
}

#for-organization>p:nth-child(2) {
    font-size: 1.2em;
    font-weight: 600;
}

#for-organization>p {
    margin: 3% 10%;

}

#filter-subscription-div {
    height: 10vh;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter-subscription-div>button {
    height: 8vh;
    width: 95%;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 600;
    background-color: black;
    color: white;
}

#align-div-filter-box>:last-child {
    margin: 5% 0 5% 15%;
}

#align-div-filter-box>:last-child>a {
    color: #1d9bf0;
}

#draft {
    height: 80vh;
    width: 40%;
    border: 1px solid #edf3f5;
    border-radius: 10px;
    position: fixed;
    background-color: white;
    top: 15%;
    left: 30%;
    z-index: 2;
    display: none;
    cursor: pointer;
}

#draft-name {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

#draft-name>div:nth-child(1) {
    height: 100%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#draft-name>div:nth-child(2) {
    height: 100%;
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.2em;
}

#mid-area-list {
    height: 8vh;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
}

#mid-area-list>div {
    height: 8vh;
    width: 50%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    position: relative;
}

#mid-area-list>div>div {
    height: 100%;
    width: fit-content;
    border-bottom:5px solid #1d9bf0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#for-you>div {
    border-bottom: 5px solid #1d9bf0;
}

#mid-area-list>div>div:hover {
    border-bottom: 5px solid #1d9bf0;
    cursor: pointer;
}
#pic-n-mes{
    height:50vh;
    width: 60%;
    /* border: 1px solid black; */
    position: relative;
    margin:5% 20%;
}
#pic-n-mes-img{
    height:35vh;
    width:100%;
    /* border:1px solid black; */
}
#pic-n-mes-img>img{
    height:100%;
    width:100%;
}
#pic-n-mes>div:nth-child(2){
    text-align: center;
    height: 15vh;
    width: 65%;
    margin: auto;
    /* border: 1px solid black; */
}
#pic-n-mes>div:nth-child(2)>p:nth-child(1){
    font-size: 1.5em;
    font-weight: 600;
}


#screen-adjust {
    /* height: 100vh; */
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left-body {
    /* height: 100vh; */
    width: 20%;
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    left: 10%;
}

#middle-body {
    /* height: 100vh; */
    width: 44%;
    border: 1px solid #eff3f4;
    position: relative;
    left: 26%;
}

#right-body {
    /* height: 100vh; */
    width: 29%;
    /* border: 1px solid black; */
    position: relative;
    right: 0%;
}

#logo {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.fa-twitter {
    font-size: 1.8em;
    color: #1d9bf0;
}

.list-nav {
    height: 6vh;
    width: fit-content;
    flex-wrap: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 2%;
    gap: 30px;

}

.list-nav>i {
    font-size: 1.2em;
}

.list-nav>span {
    font-size: 1.5em;
}

.list-nav>span>a {
    text-decoration: none;
    color: black;
}

.list-nav:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

#more-div {
    /* height:35vh; */
    width: 20vw;
    border: 1px solid #eff3f4;
    border-radius: 10px;
    position: fixed;
    z-index: 10;
    top: 30vh;
    display: none;
    background-color: white;
    cursor: pointer;
}

#child-more-div {
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    position: absolute;
}

.child-more-div>div {
    height: 7vh;
    width: 100%;
    /* border:1px solid black; */
    position: relative;
    display: flex;
    align-items: center;
}

.child-more-div>div:nth-child(1)>p {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 2%;
    display: flex;
}

.border-it-bottom {
    border-bottom: 1px solid #eff3f4;
}

.child-more-div>div:nth-child(1)>p>span {
    margin: 0 15px;
}

.child-more-small-div {
    height: 5vh;
    width: 100%;
    /* border:1px solid black; */
}

.child-more-small-div>div:nth-child(1)>p:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 600;
}

.child-more-small-div>div:nth-child(1)>p:nth-child(1)>select {
    border: none;
    outline: none;
}

#tweet-btn {
    height: 6vh;
    width: 80%;
    border: 1px solid #1d9bf0;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: #1d9bf0;
    color: white;
    font-weight: 600;
}

#user {
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-pic {
    height: 8vh;
    width: 20%;
    border-radius: 30px;
    /* border: 1px solid black; */
    margin-left: 1%;
    overflow: hidden;
}

.user-pic>img {
    height: 100%;
    width: 100%;
}

#user-d {
    height: 10vh;
    width: 65%;
    /* border: 1px solid black; */
    flex-direction: column;
}

#user-d>p:nth-child(1) {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 1.5em;
}

#user-d>p:nth-child(2) {
    margin-left: 2%;
    opacity: 0.8;
}

#ellip {
    height: 10vh;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#stickthem {
    width: 100%;
    border: 1px solid #eff3f4;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
}

#home {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
}

#home>span {
    margin-left: 2%;
}

#for-following {
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: end;
}

#for-following>div {
    height: 80%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#for-following>div>div {
    height: 100%;
    width: fit-content;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
}

#for-following>div>div:hover {
    border-bottom: 5px solid #1d9bf0;
    font-size: 1.2em;
    font-weight: 600;
}

#post-div {
    /* height: 10vh; */
    width: 100%;
    border: 1px solid #eff3f4;
}

#align-inside-post-div {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#user-post-pic {
    height: 6vh;
    width: 8%;
    border-radius: 40px;
    /* border: 1px solid black; */
    overflow: hidden;

}

#user-post-pic>img {
    height: 100%;
    width: 100%;
}

#input-icons {
    height: 100%;
    width: 93%;
    /* border: 1px solid black; */
}

#every {
    height: 4vh;
    width: fit-content;
    padding: 0 1%;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #1d9bf0;
}

#every>select {
    border: none;
    outline: none;
    color: #1d9bf0;
}

#post-input {
    height: 5vh;
    width: 95%;
    margin-left: 3%;
    font-size: 1.5em;
    border: none;
    outline: none;
}

#below-post-input {
    height: 4vh;
    width: fit-content;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 2%;
    color: #1d9bf0;
}

#subit-user-post {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}

#icon-within-post {
    height: 100%;
    width: 67%;
    margin-left: auto;
    margin-right: 0%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

#icon-within-post>i {
    margin-left: 5%;
    color: #1d9bf0;
}

#btn-withing-post {
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#post-tweet-btn {
    height: 6vh;
    width: 80%;
    border: none;
    border-radius: 50px;
    font-size: 1.1em;
    font-weight: 600;
    background-color: #1d9bf0;
    color: white;
}

.showcase {
    /* height: 60vh; */
    width: 100%;
    border: 1px solid #eff3f4;

}

.showcase-first-align {
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
}

.only-for-page-user-img {
    height: 10vh;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.only-for-page-user-img>div {
    height: 80%;
    width: 80%;
    /* border: 1px solid black; */
    border-radius: 50%;
    overflow: hidden;
}

.only-for-page-user-img>div>img {
    height: 100%;
    width: 100%;
}

.showcase-title {
    /* height:10vh; */
    width: 75%;
    /* border:1px solid black; */
}

.showcase-title>p:nth-child(1)>i {
    gap: 1%;
}

.showcase-title>p:nth-child(1)>i {
    color: #1d9bf0;
}

.small-image {
    height: 20px;
    width: 20px;
    /* border:1px solid black; */
}

.showcase-ellip {
    height: 4vh;
    width: 10%;
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
}

.content-div {
    margin-left: auto;
    margin-right: 0%;
    /* height:30vh; */
    width: 85%;
    /* border:1px solid black; */
}

.content-div>div {
    height: auto;
    width: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.content-div>div>video {
    height: fit-content;
    width: fit-content;
    object-fit: cover;
}

.content-div>div>img {
    height: fit-content;
    width: fit-content;
    object-fit: cover;
}

.likes {
    height: 5vh;
    width: 85%;
    /* border:1px solid black; */
    margin-left: auto;
    margin-right: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.likes>span {
    display: flex;

}

.likes>span>i {
    font-size: 1.1em;
    margin-right: 2%;
}

#search {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}

#inner-search {
    height: 6vh;
    width: 95%;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #eff3f4;
}

#inner-search>i {
    font-size: 1.2em;
    position: absolute;
    left: 15px;
    top: 12px;
}

#inner-search>input {
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #eff3f4;
}

#get-verify {
    /* height: 20vh; */
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 2%;
    border-radius: 10px;
    background-color: #eff3f4;
    position: relative;
}

#get-verify>p:nth-child(1) {
    font-size: 1.5em;
    font-weight: 600;
    margin: 2%;
}

#get-verify>p:nth-child(2) {
    font-size: 1.1em;
    font-weight: 600;
    margin: 2%;
}

#get-verify>button {
    height: 6vh;
    width: 40%;
    padding: 0 2%;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: black;
    border: none;
    color: white;
    font-weight: 600;
    margin: 2%;
    position: relative;
}

#happening {
    /* height:50vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#happening>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;

}

.trending-divs {
    /* height:10vh; */
    width: 95%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.trending-divs>div:nth-child(1) {
    height: fit-content;
    width: 90%;
    /* border: 1px solid black; */
}

.trending-divs>div:nth-child(1)>p:nth-child(2) {
    font-weight: 600;
}

.trending-divs>div:nth-child(2) {
    height: fit-content;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#happening>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}

#follow-Whom {
    /* height: 40vh; */
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#follow-Whom>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;
}

.follow-new-page-div {
    /* height: 10vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    margin-bottom: 2%;

}

.new-page-img {
    height: 7vh;
    width: 16%;
    /* border: 1px solid black; */
    border-radius: 50px;
    overflow: hidden;
    margin-top: 1%;
}

.new-page-img>img {
    height: 100%;
    width: 100%;
}

.page-title {
    height: 8vh;
    width: 55%;
    /* border: 1px solid black; */
}

.page-title>p:nth-child(1)>span {
    font-size: 1em;
    font-weight: 600;
}

.page-title>p:nth-child(1)>i {
    color: #1d9bf0;
}

.page-title>p:nth-child(2) {
    opacity: 0.8;
}

.page-follow-btn {
    height: 8vh;
    width: 28%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-follow-btn>button {
    height: 5vh;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

#follow-Whom>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}

#right-body>div:last-child {
    width: 95%;
    /* border:1px solid black; */
    margin: auto;
    margin-bottom: 2%;
    opacity: 0.9;
    font-size: 0.9em;
    text-align: center;
}