* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#screen {
    /* height: 100vh; */
    width: 100%;
    /* border: 1px solid black; */
}

#screen-adjust {
    /* height: 100vh; */
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#left-body {
    /* height: 100vh; */
    width: 20%;
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    left: 10%;
}

#middle-body {
    /* height: 100vh; */
    width: 44%;
    border: 1px solid black;
    position: absolute;
    left: 26%;
}

#right-body {
    /* height: 100vh; */
    width: 29%;
    border: 1px solid black;
    position: absolute;
    right: 0%;
}

#logo {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.fa-twitter {
    font-size: 1.8em;
    color: #1d9bf0;
}

.list-nav {
    height: 6vh;
    width: fit-content;
    flex-wrap: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    /* border: 1px solid black; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 2%;
    gap: 30px;
}

.list-nav>i {
    font-size: 1.2em;
}

.list-nav>span {
    font-size: 1.5em;
}

.list-nav>span>a {
    text-decoration: none;
    color: black;
}

.list-nav:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

#tweet-btn {
    height: 6vh;
    width: 80%;
    border: 1px solid #1d9bf0;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: #1d9bf0;
    color: white;
    font-weight: 600;
}

#user {
    height: 10vh;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-pic {
    height: 8vh;
    width: 20%;
    border-radius: 30px;
    /* border: 1px solid black; */
    margin-left: 1%;
    overflow: hidden;
}

.user-pic>img {
    height: 100%;
    width: 100%;
}

#user-d {
    height: 10vh;
    width: 65%;
    /* border: 1px solid black; */
    flex-direction: column;
}

#user-d>p:nth-child(1) {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 1.5em;
}

#user-d>p:nth-child(2) {
    margin-left: 2%;
    opacity: 0.8;
}

#ellip {
    height: 10vh;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#stickthem {
    width: 100%;
    border: 1px solid #eff3f4;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    opacity: 0.9;
    /* border: 1px solid black; */
}

#title-div {
    height: 8vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
}

#inner-title-div {
    height: 8vh;
    width: 90%;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#inner-title-div>p {
    margin-left: 2%;
    font-size: 1.2em;
    font-weight: 600;
}

#setting-log-div {
    height: 8vh;
    width: 10%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-area-list {
    height: 8vh;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
}

#mid-area-list>div {
    height: 8vh;
    width: 35%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-area-list>div>div {
    height: 100%;
    width: fit-content;
    /* border-bottom:5px solid #1d9bf0; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#for-all>div {
    border-bottom: 5px solid #1d9bf0;
}

#mid-area-list>div>div:hover {
    border-bottom: 5px solid #1d9bf0;
    cursor: pointer;
}


#search {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}

#inner-search {
    height: 6vh;
    width: 95%;
    /* border: 1px solid black; */
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #eff3f4;
}

#inner-search>i {
    font-size: 1.2em;
    position: absolute;
    left: 15px;
    top: 12px;
}

#inner-search>input {
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #eff3f4;
}


#happening {
    /* height:50vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#happening>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;

}

.trending-divs {
    /* height:10vh; */
    width: 95%;
    /* border: 1px solid black; */
    display: flex;
    margin: auto;
    margin-top: 2%;
}

.trending-divs>div:nth-child(1) {
    height: fit-content;
    width: 90%;
    /* border: 1px solid black; */
}

.trending-divs>div:nth-child(1)>p:nth-child(2) {
    font-weight: 600;
}

.trending-divs>div:nth-child(2) {
    height: fit-content;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#happening>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}

#follow-Whom {
    /* height: 40vh; */
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin-top: 2%;
    background-color: #eff3f4;
}

#follow-Whom>p:nth-child(1) {
    font-size: 1.2em;
    font-weight: 600;
    margin: 2%;
}

.follow-new-page-div {
    /* height: 10vh; */
    width: 95%;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    margin-bottom: 2%;

}

.new-page-img {
    height: 7vh;
    width: 16%;
    /* border: 1px solid black; */
    border-radius: 50px;
    overflow: hidden;
    margin-top: 1%;
}

.new-page-img>img {
    height: 100%;
    width: 100%;
}

.page-title {
    height: 8vh;
    width: 55%;
    /* border: 1px solid black; */
}

.page-title>p:nth-child(1)>span {
    font-size: 1em;
    font-weight: 600;
}

.page-title>p:nth-child(1)>i {
    color: #1d9bf0;
}

.page-title>p:nth-child(2) {
    opacity: 0.8;
}

.page-follow-btn {
    height: 8vh;
    width: 28%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-follow-btn>button {
    height: 5vh;
    width: 90%;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

#follow-Whom>p:last-child {
    color: #1d9bf0;
    margin: 2%;
    padding-bottom: 2%;
}

#right-body>div:last-child {
    width: 95%;
    /* border:1px solid black; */
    margin: auto;
    margin-bottom: 2%;
    opacity: 0.9;
    font-size: 0.9em;
    text-align: center;
}